<div class="jumbotron">
	<div class="container text-center">
	  <h4>Coming Soon...</h4>
	  <h1><span class="glyphicon glyphicon-flash" aria-hidden="true"></span> Strategyst</h1>
	  <p>Where we're going, we don't need roads...</p>
	  <p><a class="btn btn-action btn-lg" href="#" role="button">Get Updates</a></p>
	</div>
</div>

<div class="container">
	<div class="row text-center">
		<div class="col-md-4">
			<!-- <img src="http://placehold.it/300x200" alt="" class="img-responsive"> -->
			<h2>Create unlimited<br>Boards and Pins</h2>
			<p>Create topic boards and pin anything to it: ideas, links, videos, images... organize by tags for easy reference. Make it a shopping list, a mood board, a competitors shortlist, a travel initerary, you choose.</p>
			<p><a href="#">Link</a></p>
		</div>
		<div class="col-md-4">
			<!-- <img src="http://placehold.it/300x200" alt="" class="img-responsive"> -->
			<h2>Get Pin Updates in your Dashboard</h2>
			<p>You've pinned a company, an author, a CEO or a company? Get their profile, and social updates all aggregated in one place.</p>
			<p><a href="#">Link</a></p>
		</div>
		<div class="col-md-4">
			<!-- <img src="http://placehold.it/300x200" alt="" class="img-responsive"> -->
			<h2>Share this knowledge<br>in your team</h2>
			<p>Invite your team members, collaborate in your private space, demultiply knowledge aggregation and idea generation.</p>
			<p><a href="#">Link</a></p>
		</div>
	</div>
</div>

