<footer>
  <div class="container">
    <br>
    <p class="text-center"><a href="/">MissionControl</a> All rights reserved © <%= Time.now.strftime("%Y") %> <span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> A <a href="https://lyketil.com">Lyketil</a> project, powered by Ruby On Rails.</p>
  </div>  
</footer>