<ul class="list-group">
  <li class="list-group-item"><strong>Description</strong><br> {{description}}</li>
  <li class="list-group-item"><strong>Size</strong><br> {{size}}</li>
  <li class="list-group-item"><strong>Growth</strong><br> {{growth}}></li>
  <li class="list-group-item">
    <strong>Personas</strong><br>
  </li>
  <li class="list-group-item">
    <strong>Objectives</strong><br>
  </li>
</ul>
