<p id="notice"><%= notice %></p>

<table class="table table-striped companies ajax">
  <thead>
    <tr>
      <th>Name</th>
      <th>Logo</th>
      <th>Segments</th>
      <th colspan="2">Edit</th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>

<p class="text-center"><%= link_to 'New Company', new_company_path, class: "btn btn-default" %></p>

<!-- This div is used to insert the new company form by jQuery -->
<div class="open-form hidden"></div>


<script>
  // 1. on the click of NEW COMPANY let's show the form
  $('a[href="/companies/new"]').on("click", function(e){
    e.preventDefault();
    var $button = $(this); // gets the jQuery node element for this (clicked  element)

    // toggle the button text
    $button.text(toggleText);
    function toggleText(i, buttonText){
      return buttonText === "Close" ? "Create Company" : "Close";
    }

    $('.open-form').html("<%= j(render 'form') %>").toggleClass('hidden');

    // loads the submit handler after the form has been added to the DOM
    attachSubmitHandler();
  });

  // 2. when click on submit form (only in the case this modal)
  //    2.0. [x] it should hijack the button click and stay right here
  //    2.1. [x] it should send and AJAX post request
  //    2.2. [x] it should add from the server response the new company to the DOM list
  //    2.3. [0] it should close the modal
  function attachSubmitHandler(){
    $('form').on("submit", function(e){
      e.preventDefault();
      var $form = $(this);
      var url = $form.attr("action");  // /companies
      var params = $(this).serialize();  // we want the jQuery object, not just 'this'
      var method = $form.attr("method");  // "post"
      $.ajax({
        url: url,
        data: params,
        method: method,
        dataType: "json"
      })
      .success(function(response){
        var html = '<tr data-id="' + response.id + '">';
        html += '<td><a href="/companies/' + response.id + '">' + response.name + '</a></td>';
        html += '<td><a href="/companies/' + response.id + '"><img class="logo" src="' + response.logo + '" alt="Logo"></a></td>';
        html += '<td></td>';
        html += '<td class="editCompany"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>';
        html += '</tr>';
        $('tbody').append(html);
        $('.open-form').slideUp(500);
        $('a[href="/companies/new"]').text("Create another Company");
        $('.open-form').toggleClass('hidden').slideDown(500);
        attachAdminButtonHandler();
      })
      .error(function(error){
        // var errorString = handleError(error);
        // alert("There was an issue, try again: " + errorString);
        console.log(error.responseText);
      })
    })
  }

  function handleError(error){
    var errorJSON = JSON.parse(error.responseText);
    var errorString = "";
    for (var key in errorJSON){
      errorString += key + " " + errorJSON[key];
    }
    return errorString;
  }


<!-- This script is for loading the companies table through ajax at page load -->
  $(window).on('load', loadCompanies);

  function loadCompanies(){
    $.getJSON('/companies', setCompanies);
  }

  function setCompanies(response){
    console.log(response);
    html = '';

    $.each(response, function(index, company){
      var segmentsList = function(company){
        return company.segments.map(function(segment, index){
          return segment.name;
        }).join(', ');
      };

      html += `<tr data-id="${company.id}">
      <td><a href="/companies/${company.id}">${company.name}</a></td>
      <td><img class="logo" src="${company.logo}" alt="Logo"></td>
      <td>${segmentsList(company)}</td>
      <td class="editCompany"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></td>
      </tr>`;
    });

    $('.ajax tbody').html(html);

    attachAdminButtonHandler();
  }

  function attachAdminButtonHandler(){
    $('.editCompany').hover(function(){
      $(this).css("color", "red");
    }, function(){
      $(this).css("color", "black");
    });

    $('.editCompany').on("click", function(){
      $(this).html('<a href="#" class="editCompanyBtn">Edit</a> | <a href="#" class="deleteCompanyBtn">Delete</a>')
      attachEditDeleteBtnHandlers();
    });
  }

  function attachEditDeleteBtnHandlers(){
    $('.editCompanyBtn').on('click', function(event){
      event.preventDefault();
      var btn = $(this);
      console.log('Yo from attachEditDeleteBtnHandlers');
      var companyId = btn.closest('tr').data("id");
      window.location.href = "/companies/" + companyId + "/edit";
      return false;
    });

    $('.deleteCompanyBtn').on('click', function(event){
      event.preventDefault();
      var btn = $(this);
      console.log('Yo from attachEditDeleteBtnHandlers');
      var companyId = btn.closest('tr').data("id");
      confirm("Are you sure you want to destroy this company?");
      $.ajax({
        method: "DELETE",
        url: "/companies/" + companyId,
        dataType: "json"
      })
      .done(deleteSuccess)
      .fail(deleteFail);
    });

    function deleteSuccess(){
      console.log("Deletion! We made it guys.");
      loadCompanies();
    }

    function deleteFail(){
      console.log("Upsss");
    }

  }

</script>
