
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-3"><strong>Role</strong><br> {{role}}</div>
      <div class="col-md-3"><strong>Age, Location</strong><br>{{age}}, {{location}}</div>
      <div class="col-md-3"><strong>Education</strong><br>{{education}}</div>
      <div class="col-md-3"><strong>Income</strong><br> {{income}}</div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-4">
        <img src="{{img}}" alt="{{name}}" class="thumbnail">
      </div>
      <div class="col-md-8">
        <ul class="list-group">
          <li class="list-group-item"><strong>Story</strong><br> {{story}}</li>
          <li class="list-group-item"><strong>Jobs</strong><br> {{jobs}}</li>
          <li class="list-group-item"><strong>Pains</strong><br> {{pains}}</li>
          <li class="list-group-item"><strong>Gains</strong><br> {{gains}}</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="list-group-item"><blockquote>{{quotes}}</blockquote></li>
  <li class="list-group-item"><strong>Touch Points</strong><br> {{touch_points}}</li>
  <li class="list-group-item"><strong>Segment</strong><br> {{segment}}</li>
