// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.navbar .container {
	margin-top: 0;
}

.container {
	margin-top: 70px;
}

.input-group {
	margin: 20px 0;
}


a {
  color: #fa5d56;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;	
	&:hover {
	  color: purple;
	  text-decoration: none;
	}  
}

.companies .logo {
	height: 30px;
}

img.blurb-image {
	width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 0 0;
}

.thumbnail {
	max-width: 100%;
}